.h5p-vocabulary-drill {
  --icon-font-awesome-angle-down: "\f107";
  --icon-font-awesome-arrow-rotate-right: "\f01e";
  --icon-font-awesome-arrows-rotate: "\f021";
  --icon-font-awesome-arrows-up-down-left-right: "\f047";
  --icon-font-awesome-check: "\f00c";
  --icon-font-awesome-pen: "\f040";

  background-color: var(--h5p-theme-ui-base);

  .h5p-question {
    .h5p-question-introduction.display-none {
      display: none;
    }

    &.h5p-drag-text,
    &.h5p-blanks {
      padding: var(--h5p-theme-spacing-s);
    }

    /* Overrides to create a grid structure in H5P.DragText */
    &.h5p-drag-text {
      .h5p-drag-droppable-words {
        align-items: center;
        column-gap: var(--h5p-theme-spacing-s);
        display: grid;
        grid-template-columns: repeat(3, max-content);
        row-gap: var(--h5p-theme-spacing-xxs);

        & > span {
          grid-column-start: 1;
        }

        & > .h5p-dropzone {
          grid-column-start: 2;

          .ui-droppable {
            width: calc(10 * var(--h5p-theme-font-size-m)) !important; // JS sets width
          }
        }

        & > .h5p-drag-show-solution-container {
          height: fit-content;
        }
      }
    }

    /* Overrides to create a grid structure in H5P.Blanks */
    &.h5p-blanks {
      .h5p-question-content .hidden-but-read ~ p {
        align-items: center;
        column-gap: var(--h5p-theme-spacing-s);
        display: grid;
        grid-template-columns: repeat(3, max-content);
        row-gap: var(--h5p-theme-spacing-xxs);

        .h5p-vocabulary-drill-grid-title {
          line-height: var(--h5p-theme-spacing-xl);
        }

        & > span:not(.h5p-input-wrapper, .h5p-correct-answer) {
          grid-column-start: 1;
        }

        & > span.h5p-input-wrapper {
          grid-column-start: 2;
        }

        & > span.h5p-correct-answer {
          grid-column-start: 3;
        }

        /* Make all inputs the same width */
        .h5p-text-input {
          box-sizing: border-box;
          width: calc(10 * var(--h5p-theme-font-size-m)) !important; /* width is set in JavaScript by h5p-blanks */
        }

        /* Make sure inputs ::after follows input */
        .h5p-input-wrapper {
          width: fit-content;
        }

        /* Create a bottom border to the correct answer */
        .h5p-correct-answer {
          align-self: end;
          line-height: 1.375;
          width: fit-content;

          &:not(:last-child) {
            margin-bottom: var(--h5p-theme-spacing-xxs);
            position: relative;

            &::after {
              border-bottom: 1px solid var(--h5p-theme-alternative-base);
              content: '';
              display: inline-block;
              height: 100%;
              left: calc(-0.75 * ar(--h5p-theme-spacing-s));
              padding: 0 var(--h5p-theme-spacing-xxs) var(--h5p-theme-spacing-xxs);
              position: absolute;
              top: 0;
              width: 100%;
            }
          }
        }
      }
    }

    /*
     * Overrides to create a grid structure in H5P.DragText and H5P.Blanks
     */
    &.h5p-drag-text,
    &.h5p-blanks {
      /* Make sure the grid content is reachable on mobile */
      overflow-x: auto;
      /*
       * Hide vertical scrollbar while content updates.
       * overflow-y will implicitly be computed as auto if visible is used
       * https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-y
       */
      overflow-y: hidden;
    }
  }

  .h5p-vd-empty-state {
    padding: var(--h5p-theme-spacing-l) var(--h5p-theme-spacing-s);
    text-align: center;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .h5p-vocabulary-drill-grid-title {
    color: var(--h5p-theme-text-primary);
    font-weight: bold;
  }

  .h5p-vocabulary-drill-score-page {
    display: flex;
    flex-direction: column;
    gap: var(--h5p-theme-spacing-s);

    .h5p-vocabulary-drill-score-page-feedback-text {
      color: var(--h5p-theme-text-primary);
      font-size: var(--h5p-theme-font-size-l);
      padding-inline: var(--h5p-theme-spacing-s);
      text-align: center;
    }

    button.h5p-theme-retry {
      margin-inline-start: auto;
    }
  }
}

.h5p-vocabulary-drill-toolbar {
  align-items: center;
  background-color: var(--h5p-theme-ui-base);
  box-shadow: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-l) rgb(166 166 166 / 20%);
  display: flex;
  flex-wrap: wrap;
  gap: var(--h5p-theme-spacing-s);
  justify-content: space-between;
  margin-bottom: var(--h5p-theme-spacing-s);
  min-height: calc(2.5 * var(--h5p-theme-spacing-s));
  padding: var(--h5p-theme-spacing-xxs) var(--h5p-theme-spacing-s);
  position: relative;

  p {
    color: var(--h5p-theme-text-primary);
    font-size: var(--h5p-theme-font-size-xl);
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
  }

  .h5p-vocabulary-drill-toolbar-tools {
    --combo-after-width: 10px; /* From rendered icon */
    --combo-before-width: 13.72px; /* From rendered icon */
    --tools-padding: var(--h5p-theme-spacing-xs);

    display: flex;
    flex-wrap: wrap;
    gap: var(--h5p-theme-spacing-xxs);
    max-width: 100%;
  }

  button.h5p-vocabulary-drill-language-mode {
    background-color: var(--h5p-theme-contrast-cta-light);
    border: none;
    border-radius: var(--h5p-theme-border-radius-medium);
    color: var(--h5p-theme-contrast-cta-white);
    cursor: pointer;
    display: inline-block;
    font-size: var(--h5p-theme-font-size-m);
    font-weight: 700;
    line-height: 1.2;
    max-width: 100%;
    overflow: hidden;
    padding: var(--tools-padding);
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: color-mix(in srgb, var(--h5p-theme-contrast-cta-light), transparent 60%);
    }

    &:focus-visible:not(:disabled) {
      outline: 2px ridge var(--h5p-theme-main-cta-base);
      outline-offset: 2px;
    }

    &:disabled {
      cursor: not-allowed;
      filter: grayscale(100%);
    }

    &.h5p-vocabulary-drill-language-mode:before {
      content: var(--icon-font-awesome-arrows-rotate);
      font-family: 'H5PFontAwesome4';
      padding-right: var(--h5p-theme-spacing-xxs);
    }
  }

  .h5p-vocabulary-drill-combobox {
    .combo {
      display: block;
      max-width: 25ch;
      position: relative;

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      &::before {
        color: var(--h5p-theme-contrast-cta-white);
        font-family: 'H5PFontAwesome4';
        left: var(--tools-padding);
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }

      &::after {
        color: var(--h5p-theme-contrast-cta-white);
        content: var(--icon-font-awesome-angle-down);
        font-family: 'H5PFontAwesome4';
        font-size: var(--h5p-theme-font-size-m);
        font-weight: 700;
        pointer-events: none;
        position: absolute;
        right: var(--tools-padding);
        top: 50%;
        transform: translate(0, -50%);
        width: var(--combo-after-width);
      }

      &.h5p-vocabulary-drill-fill-in::before {
        content: var(--icon-font-awesome-pen);
      }

      &.h5p-vocabulary-drill-drag-text::before {
        content: var(--icon-font-awesome-arrows-up-down-left-right);
      }

      &.disabled {
        &::after,
        &::before {
          filter: grayscale(100%);
        }
      }

      &-input {
        background-color: var(--h5p-theme-contrast-cta-light);
        border: none;
        border-radius: var(--h5p-theme-border-radius-medium);
        color: var(--h5p-theme-contrast-cta-white);
        cursor: pointer;
        font-size: var(--h5p-theme-font-size-m);
        font-weight: 700;
        line-height: 1.2;
        padding-block: var(--tools-padding);
        padding-inline:
          calc(var(--tools-padding) + var(--combo-after-width) + var(--tools-padding))
          calc(var(--tools-padding) + var(--combo-before-width) + var(--tools-padding));

        &:hover:not(:disabled),
        &:focus:not(:disabled) {
          background-color: color-mix(in srgb, var(--h5p-theme-contrast-cta-light), transparent 60%);
        }

        &:focus-visible:not(:disabled) {
          outline: 2px ridge var(--h5p-theme-main-cta-base);
          outline-offset: 2px;
        }
      }

      &.disabled {
        .combo-input {
          cursor: not-allowed;
          filter: grayscale(100%);
          opacity: 1;
        }
      }

      &-menu {
        background-color: var(--h5p-theme-alternative-light);
        border: 1px solid var(--h5p-theme-alternative-darker);
        border-radius: 0;
        cursor: pointer;
        display: none;
        left: 0;
        max-height: calc(18.75 * var(--h5p-font-size-m));
        overflow-y: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 100;
      }

      &-option {
        color: var(--theme-text-secondary);
        padding: var(--tools-padding);
        position: relative;

        &.option-current {
          background-color: var(--h5p-theme-main-cta-base);
          color: var(--h5p-theme-contrast-cta);
        }

        &[aria-selected="true"] {
          &::after {
            content: var(--icon-font-awesome-check);
            font-family: 'H5PFontAwesome4';
            position: absolute;
            right: var(--h5p-theme-spacing-xxs);
            top: 50%;
            transform: translateY(-50%);
          }

          &.option-current::after {
            border-color: var(--h5p-theme-contrast-cta);
          }
        }
      }

      &.open .combo-menu {
        display: block;
      }
    }
  }
}

.h5p-vocabulary-drill-status {
  align-items: center;
  background-color: var(--h5p-theme-ui-base);
  display: flex;
  flex-wrap: wrap;
  gap: var(--h5p-theme-spacing-l);
  justify-content: space-between;
  min-height: calc(2.5 * var(--h5p-theme-spacing-s));
  padding: var(--h5p-theme-spacing-xxs) var(--h5p-theme-spacing-xxs);
  position: relative;

  button {
    background-color: var(--h5p-theme-secondary-cta-base);
    border: none;
    border-radius: var(--h5p-theme-border-radius-medium);
    color: var(--h5p-theme-secondary-contrast-cta);
    cursor: pointer;
    display: inline-block;
    font-size: var(--h5p-theme-font-size-s);
    font-weight: 700;
    padding: var(--h5p-theme-spacing-xxs) var(--h5p-theme-spacing-s);
    white-space: nowrap;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: var(--h5p-theme-secondary-cta-light);
    }

    &:disabled {
      cursor: not-allowed;
      filter: grayscale(100%);
    }

    &.h5p-vocabulary-drill-next::after {
      content: var(--icon-font-awesome-arrow-angle-right);
      font-family: 'H5PFontAwesome4';
      padding-left: var(--h5p-theme-spacing-xxs);
    }
  }

  .h5p-vocabulary-drill-status-score {
    color: var(--h5p-theme-text-secondary);
    flex-grow: 1;
    font-size: var(--h5p-theme-font-size-m);
    font-weight: 700;
  }

  &-pages {
    margin: 0 0 0 auto;
  }

  &-number {
    color: var(--h5p-theme-main-cta-base);
    font-size: var(--h5p-theme-font-size-l);
    font-weight: 700;
  }

  &-divider {
    color: var(--h5p-theme-text-secondary);
    font-size: var(--h5p-theme-font-size-l);
    font-weight: 700;
  }
}

.h5p-vocabulary-drill-progressbar {
  margin-top: var(--h5p-theme-spacing-xxs);
  position: relative;

  .h5p-joubelui-progressbar {
    background: var(--h5p-theme-contrast-cta-light);
    box-shadow: none;

    &-background {
      background-color: var(--h5p-theme-main-cta-base);
    }
  }
}
