name: Pack and release content type

on: [push, workflow_dispatch]

jobs:
  pack-and-release:
    runs-on: ubuntu-latest
    name: Pack and release
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pack library and dependencies into .h5p file
        uses: boyum/pack-h5p-action@v1.0.1 # https://github.com/boyum/pack-h5p-action
        id: release-h5p

      - name: Check if tag exists already # (to avoid replacing releases)
        uses: mukunku/tag-exists-action@v1.5.0 # https://github.com/mukunku/tag-exists-action
        id: check-tag
        with:
          tag: ${{ steps.release-h5p.outputs.version }}

      - name: Release # (only if library is updated)
        uses: marvinpinto/action-automatic-releases@latest # https://github.com/marvinpinto/actions/tree/master/packages/automatic-releases
        if: ${{ github.ref == 'refs/heads/main' && steps.check-tag.outputs.exists == 'false' }}
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          automatic_release_tag: ${{steps.release-h5p.outputs.version}}
          prerelease: false
          files: |
            ${{steps.release-h5p.outputs.filePath}}
